* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url(../imagens/abstract-background.jpg) fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

main {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

span {
    font-family: fantasy;
    font-size: 5em;
    color: cornsilk;
    text-shadow: 10px 10px 10px black;
    border: black;
}

span:hover{
    color: black;
    text-shadow: 10px 10px 10px white;
}

img {
    box-shadow: 0 1px 2px #0003;
    height: 100%;
}

.projeto-img img {

    width: 100%;
    height: auto;
}

.button {
    color: red;
}

.swiper {
    width: 50vw;
    height: 500px;
    z-index: 1;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    
    .swiper {
        width: 80vw;
        height: 270px;
    }

    span {
        font-size: 2em;
    }
}

@media (max-height: 650px) {

    main {
        height: 90vh;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    span{
        font-size: 3em;
    }

    .swiper {
        width: 40vw;
        height: 180px;
    }
}